#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars
*.tfvars.old

# Mac stuff
.DS_Store

# openshift pull-secret
pull-secret.txt

# local
makefile
**/artifacts/*
